body {
  margin: 25px;
  background-color: #ffffcc;
  font-family: arial, sans-serif;
  font-size: 14px;
  background: yellow;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
}
 #header {
            width: 100%;
            background: #ffccff;
        }

 #footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background: #9999ff;
        }

